<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='park_logo.png')}}" width="40" height="40" alt="">
        </a>
        <a class="navbar-brand" href="#">Confined Spaces</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/userspaces">Users Spaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/displayspaces">All Spaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addspace">Add Space</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/displayhazards">Hazards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" methods="POST">Log out</a>
            </li> 
        </ul>
        </div>
    </nav>
    <div class="mx-5 mt-3">
        {% block body%}
        {% endblock %}
    </div>
</body>
</html>