{% extends 'base.html' %}
{% block title %}
The Display Hazards 
{% endblock %}
{% block body %}
<h1>All Hazards</h1>
<span>
    <button><a href="/createhazard">Create</a></button>
</span>
<table>
    {% for hazard in hazards%}
    <tr>
        <td>
            {{hazard.name}} - {{hazard.description}}    
        </td>
        <td>
            <a href="/deletehazard/{{hazard.id}}">Delete</a>
        </td>
        <td>
            <a href="/add_hazard_to_user">Add to space</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}