{% extends 'base.html' %}
{% block title %}
Edit space
{% endblock %}
{% block body %}
<h1>Edit Space</h1>
<form action="editspace" method="POST">

    <button>Submit</button>
</form>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <title>Edit Space</title>
</head>
<body>
    
</body>
</html> -->