{% extends 'base.html' %}
{% block title %}
Edit space
{% endblock %}
{% block body %}
<h1>Edit Space</h1>

<form action="editspace/{{current_space.id}}" method="POST">
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">Name: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name" id="name" value="{{current_space.name}}">
        </div>
    </div>
    <!-- <label for="description" class="form-label">Example text area</label>
    <textarea class="form-control" id="description" rows="3"></textarea> -->
    <button>Submit</button>
</form>
{% endblock %}
