{% extends 'base.html' %}
{% block title %}
Edit space
{% endblock %}
{% block body %}
<h1>Edit Space</h1>

<form action="editspace/{{current_space.id}}" method="POST">
    {% with messages = get_flashed_messages(category_filter=["space"])%}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">Name: </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name" id="name" value="{{current_space.name}}">
        </div>
    </div>
    <button>Submit</button>
</form>
{% endblock %}
