{% extends 'base.html' %}
{% block title%}
Your spaces
{% endblock %}
{% block body %}
    <h1>User name: {{session.email}}</h1>
    <h3>List of confined spaces:</h3>
    {% for space in spaces %}
    <p>{{space.name}}</p>
    {% endfor %}
    <button><a href="/addspace"></a> Space</button>
    <button><a href="/displayspaces">All Spaces</a></button>
    <button><a href="/logout">Log out</a></button>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <title>Success</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        Title
    </div>
</nav>
<body>
    
    <h1>User name: {{session.email}}</h1>
    <h3>List of confined spaces:</h3>
    {% for space in spaces %}
    <p>{{space.name}}</p>
    {% endfor %}
    <button><a href="/addspace"></a> Space</button>
    <button><a href="/displayspaces">All Spaces</a></button>
    <button><a href="/logout">Log out</a> Log out</button>
</body>
</html> -->