{% extends 'base.html' %}
{% block title%}
Your spaces
{% endblock %}
{% block body %}
    <h1>User name: {{session.name}}</h1>
    <h3>List of confined spaces:</h3>
    <div class="p-1">
    {% for space in spaces %}
        <div class="m-3">
            {{space.id}} {{space.name}}
            <div>
                <button class="rounded"><a href="/editspace/{{space.id}}">Edit</a></button>
                <button class="rounded"><a href="/deletespacefromuser/{{space.id}}">Delete</a></button>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}